/* Add some basic styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #c0392b;
}
.names-list {
  align-content: center;
}
.product-list,
.user-list {
  padding-left: 40%;
  padding-right: 40%;
}

.to-dos{
  display: grid;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}

.product-card {
  display: grid;
  align-content: stretch;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 1px 10px 1px;
  padding-bottom: 1rem;
  width: 250px;
  margin-bottom: 10px;
}

.product-card .price {
  font-size: 1.5rem;
  color: red;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-card {
  display: grid;
  align-content: stretch;
  justify-content: center;
}
.user-card p {
  text-align: center;
  font-weight: 700;
}
